#container-menu-aplicativo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 90%;
  padding: 15px 30px;
  box-shadow: 4px 4px 30px 4px rgb(0 0 0 / 30%);
  -webkit-box-shadow: 4px 4px 30px 4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 4px 4px 30px 4px rgb(0 0 0 / 30%);
}

.nome-empresa {
  flex-grow: 1;
  font-size: 20px;
}

.opcoes-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.opcoes-menu > span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#janela-suspensa {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px 20px;
  border: black solid 0.5px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: white;
}

#janela-suspensa div,
footer {
  
  margin: 10px 0px;
}

#janela-suspensa *:hover{
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

@media (min-height: 1200px){
  #container-menu-aplicativo {
    padding: 1% 2%;
  }
}