#container-app {
  display: grid;
  grid-template-areas:
    "espaco-cabecalho"
    "espaco-conteudo"
    "espaco-rodape";
  grid-template-rows: 10% 75% 15%;
  height: 100%;
  width: 100%;
}

#espaco-conteudo {
  grid-area: espaco-conteudo;
  display: grid;
  grid-template-areas: "espaco-centro";
}

#espaco-cabecalho {
  grid-area: espaco-cabecalho;
}

#espaco-esquerdo {
  grid-area: espaco-esquerdo;
  display: none;
}

#espaco-centro {
  grid-area: espaco-centro;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

#espaco-direita {
  grid-area: espaco-direita;
  display: none;
}

#espaco-rodape {
  grid-area: espaco-rodape;
}

@media (min-width: 1200px) {
  #container-app {
    grid-template-areas:
      "espaco-cabecalho espaco-cabecalho espaco-cabecalho"
      "espaco-conteudo espaco-conteudo espaco-conteudo"
      "espaco-rodape espaco-rodape espaco-rodape";
  }

  #espaco-conteudo {
    grid-template-areas: "espaco-esquerdo espaco-centro espaco-direita";
    grid-template-columns: 15% 70% 15%;
  }

  #espaco-centro {
    justify-content: center;
  }

  #espaco-esquerdo {
    display: block;
  }

  #espaco-direita {
    display: block;
  }
}
