#container-app {
  display: grid;
  grid-template-areas:
    "espaco-cabecalho"
    "espaco-conteudo";
  grid-template-rows: 80px calc(100% - 80px);
  height: 100%;
  width: 100%;
}

#container-menu-principal{
  height: 100%;
  max-height: 610px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

#espaco-conteudo {
  grid-area: espaco-conteudo;
  display: grid;
  grid-template-areas: "espaco-centro";
  margin-top: 15px
}

#espaco-cabecalho {
  grid-area: espaco-cabecalho;
}

#espaco-esquerdo {
  grid-area: espaco-esquerdo;
  display: none;
}

#espaco-centro {
  grid-area: espaco-centro;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#espaco-direita {
  grid-area: espaco-direita;
  display: none;
}

@media (min-width: 1200px) {
  #container-app {
    grid-template-areas:
      "espaco-cabecalho espaco-cabecalho espaco-cabecalho"
      "espaco-conteudo espaco-conteudo espaco-conteudo"
  }

  #espaco-conteudo {
    grid-template-areas: "espaco-esquerdo espaco-centro espaco-direita";
    grid-template-columns: 13% 74% 13%;
  }

  #espaco-centro {
    justify-content: center;
  }

  #espaco-esquerdo {
    display: block;
  }

  #espaco-direita {
    display: block;
  }
}

@media (max-height: 676px) {
  #container-menu-principal{
    max-height: 550px;
  }
}

@media (min-height: 1000px) {
  #container-menu-principal{
    max-height: 1200px;
  }
}
